<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <main>
      <a class="new-message-button" href="/new">Add a new message</a>
      <% messages.forEach(function(message) { %>
        <article class="message">
          <p><%= message.text %> </p>
          <div>
            <p><%= message.user %> </p>
            <p><%= message.added %> </p>
          </div>
        </article>
      <% }); %>
    </main>
  </body>
</html>
